<config>
    <global>
        <cache>
            <prefix>GAE_</prefix>
            <backend>memcached</backend>
            <!-- apc / memcached / xcache / empty=file -->
            <slow_backend>database</slow_backend>
            <!-- database / file (default) - used for 2 levels cache setup, necessary for all shared memory storages -->
            <slow_backend_store_data></slow_backend_store_data>
            <!-- 1 / 0 (default) - used for 2 levels cache setup, sets whether store data in db slow cache backend -->
            <auto_refresh_fast_cache></auto_refresh_fast_cache>
            <!-- 1 / 0 (default) - used for 2 levels cache setup, sets whether refresh data in fast cache backend -->
            <memcached><!-- memcached cache backend related config -->
                <servers><!-- any number of server nodes can be included -->
                    <server>
                        <host><![CDATA[127.0.0.1]]></host>
                        <port><![CDATA[11211]]></port>
                        <persistent><![CDATA[1]]></persistent>
                        <weight><![CDATA[1]]></weight>
                        <timeout><![CDATA[10]]></timeout>
                        <retry_interval><![CDATA[2]]></retry_interval>
                        <status><![CDATA[]]></status>
                    </server>
                </servers>
                <compression><![CDATA[0]]></compression>
                <cache_dir><![CDATA[]]></cache_dir>
                <hashed_directory_level><![CDATA[]]></hashed_directory_level>
                <hashed_directory_umask><![CDATA[]]></hashed_directory_umask>
                <file_name_prefix><![CDATA[]]></file_name_prefix>
            </memcached>
        </cache>
    </global>
</config>
