<config>
    <global>
        <models>
            <core>
                <rewrite>
                    <design_package>GAE_Core_Model_Design_Package</design_package>
                </rewrite>
            </core>
            <install>
                <rewrite>
                    <installer_env>GAE_Core_Model_Installer_Null</installer_env>
                    <installer_filesystem>GAE_Core_Model_Installer_Null</installer_filesystem>
                </rewrite>
            </install>

            <index>
                <rewrite>
                    <process>GAE_Indexer_Model_Process</process>
                </rewrite>
            </index>
            <adminnotification>
                <rewrite>
                    <observer>GAE_AdminNotification_Model_Observer</observer>
                </rewrite>
            </adminnotification>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <notification_security>GAE_Adminhtml_Block_Notification_Security</notification_security>
                </rewrite>
            </adminhtml>
            <install>
                <rewrite>
                    <db_type_mysql4>GAE_Core_Block_Db_Type_CloudSql</db_type_mysql4>
                </rewrite>
            </install>
        </blocks>
        <log>
            <core>
                <writer_model>Zend_Log_Writer_Syslog</writer_model>
            </core>
        </log>
    </global>
    <default>
        <dev>
            <log>
                <active>1</active>
            </log>
        </dev>
    </default>
</config>